@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

* {
box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: lightblue;
}

.input-box {
    padding: 2rem 3rem;

    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2%;
    text-align: center;
}

h2 {
    margin-bottom: 3rem;
}

.form-input {
    position: relative;
    margin-top: 2rem;
}

.form-input input {
    color: white;
    font-size: 16px;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
}

.form-input label {
    position: absolute;
    left: 0;
}

.form-input input:focus, .form-input input:valid {
    outline: none;
}

.form-input label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s ease-in-out;
}

.form-input input:focus + label span,
.form-input input:valid + label span {
    color:cornflowerblue;
    transform: translateY(-30px);
}

button {
    cursor: pointer;

    color: white;
    background-color:cornflowerblue;
    font-size: 16px;

    border-radius: 5%;
    border: none;

    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
}

button:active {
    transform: scale(0.9);
}

p {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}


